.checkbox-container {
  position: relative;
  align-content: center;
  justify-content: row;
  display: flex;
  flex-direction: column;
  border: 30px;
  padding: 0 100px 0 100px;
}

h2 {
  position: relative;
  bottom: -22px;
  left: 34px;
  transform: translate(-5%, 95%);
}

.collapse-code {
  position: absolute;
  top: 45px;
  left: 1.25%;
}

.checkbox-ticket {
  position: relative;
  top: 38%;
  left: 36%;
  transform: translate(-35%, -65%);
  height: 70px;
  width: 590px;
}

.checkbox {
  width: 100%;
  height: 100% !important;
  margin-right: 10px;
  margin-top: -10px;
  box-sizing: border-box;
}

.copy-code-check {
  position: absolute;
  right: 2%;
  top: -55px;
}
